{{define "content"}}
<div class="editor-page"><div class="container page"><div class="row"><div class="col-md-10 offset-md-1 col-xs-12">
  {{if .Errors}}<ul class="error-messages">{{range .Errors}}<li>{{.}}</li>{{end}}</ul>{{end}}
  <form method="post" action="{{if .Editing}}/editor/{{.Article.Slug}}{{else}}/editor{{end}}"><fieldset>
    <fieldset class="form-group"><input name="title" type="text" class="form-control form-control-lg" value="{{index .Form "title"}}" placeholder="Article Title" required></fieldset>
    <fieldset class="form-group"><input name="description" type="text" class="form-control" value="{{index .Form "description"}}" placeholder="What's this article about?" required></fieldset>
    <fieldset class="form-group"><textarea name="body" class="form-control" rows="8" placeholder="Write your article (in markdown)" required>{{index .Form "body"}}</textarea></fieldset>
    <fieldset class="form-group"><input name="tags" type="text" class="form-control" value="{{index .Form "tags"}}" placeholder="Enter comma-separated tags"></fieldset>
    <button class="btn btn-lg pull-xs-right btn-primary" type="submit">Publish Article</button>
  </fieldset></form>
</div></div></div></div>
{{end}}
