{{define "layout"}}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Lora:400,700">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <nav class="navbar navbar-light">
      <div class="container">
        <a class="navbar-brand" href="/">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
          <li class="nav-item"><a class="nav-link {{if eq .Page "home"}}active{{end}}" href="/">Home</a></li>
          {{if .User}}
          <li class="nav-item"><a class="nav-link {{if eq .Page "editor"}}active{{end}}" href="/editor"><i class="ion-compose"></i>&nbsp;New Article</a></li>
          <li class="nav-item"><a class="nav-link {{if eq .Page "settings"}}active{{end}}" href="/settings"><i class="ion-gear-a"></i>&nbsp;Settings</a></li>
          <li class="nav-item"><a class="nav-link {{if eq .Page "profile"}}active{{end}}" href="/profile/{{.User.Username}}"><img src="{{image .User.Image}}" class="user-pic" alt="">{{.User.Username}}</a></li>
          <li class="nav-item"><form method="post" action="/logout"><button class="nav-link btn btn-link" type="submit">Log out</button></form></li>
          {{else}}
          <li class="nav-item"><a class="nav-link {{if eq .Page "login"}}active{{end}}" href="/login">Sign in</a></li>
          <li class="nav-item"><a class="nav-link {{if eq .Page "register"}}active{{end}}" href="/register">Sign up</a></li>
          {{end}}
        </ul>
      </div>
    </nav>
    {{template "content" .}}
    <footer>
      <div class="container">
        <a href="/" class="logo-font">conduit</a>
        <span class="attribution">An interactive learning project. Code &amp; design licensed under MIT.</span>
      </div>
    </footer>
  </body>
</html>
{{end}}
