{{define "article-list"}}
  {{range .Articles}}
  <div class="article-preview">
    <div class="article-meta">
      <a href="/profile/{{.Author.Username}}"><img src="{{image .Author.Image}}" alt=""></a>
      <div class="info">
        <a href="/profile/{{.Author.Username}}" class="author">{{.Author.Username}}</a>
        <span class="date">{{date .CreatedAt}}</span>
      </div>
      {{if $.User}}
      <form method="post" action="/article/{{.Slug}}/favorite">
        <input type="hidden" name="favorite" value="{{if .Favorited}}false{{else}}true{{end}}">
        <input type="hidden" name="return_to" value="{{$.CurrentURL}}">
        <button class="btn {{if .Favorited}}btn-primary{{else}}btn-outline-primary{{end}} btn-sm pull-xs-right" type="submit"><i class="ion-heart"></i> {{.FavoritesCount}}</button>
      </form>
      {{else}}
      <a class="btn btn-outline-primary btn-sm pull-xs-right" href="/login"><i class="ion-heart"></i> {{.FavoritesCount}}</a>
      {{end}}
    </div>
    <a href="/article/{{.Slug}}" class="preview-link">
      <h1>{{.Title}}</h1>
      <p>{{.Description}}</p>
      <span>Read more...</span>
      <ul class="tag-list">
        {{range .TagList}}<li class="tag-default tag-pill tag-outline">{{.}}</li>{{end}}
      </ul>
    </a>
  </div>
  {{else}}
  <div class="article-preview">No articles are here... yet.</div>
  {{end}}
{{end}}

{{define "article-meta"}}
<div class="article-meta">
  <a href="/profile/{{.Article.Author.Username}}"><img src="{{image .Article.Author.Image}}" alt=""></a>
  <div class="info">
    <a href="/profile/{{.Article.Author.Username}}" class="author">{{.Article.Author.Username}}</a>
    <span class="date">{{date .Article.CreatedAt}}</span>
  </div>
  {{if .OwnArticle}}
    <a class="btn btn-sm btn-outline-secondary" href="/editor/{{.Article.Slug}}"><i class="ion-edit"></i> Edit Article</a>
    <form method="post" action="/article/{{.Article.Slug}}/delete" style="display:inline"><button class="btn btn-sm btn-outline-danger" type="submit"><i class="ion-trash-a"></i> Delete Article</button></form>
  {{else if .User}}
    <form method="post" action="/profile/{{.Article.Author.Username}}/follow" style="display:inline">
      <input type="hidden" name="follow" value="{{if .Article.Author.Following}}false{{else}}true{{end}}"><input type="hidden" name="return_to" value="{{.CurrentURL}}">
      <button class="btn btn-sm btn-outline-secondary" type="submit"><i class="ion-plus-round"></i>&nbsp; {{if .Article.Author.Following}}Unfollow{{else}}Follow{{end}} {{.Article.Author.Username}}</button>
    </form>
    <form method="post" action="/article/{{.Article.Slug}}/favorite" style="display:inline">
      <input type="hidden" name="favorite" value="{{if .Article.Favorited}}false{{else}}true{{end}}"><input type="hidden" name="return_to" value="{{.CurrentURL}}">
      <button class="btn btn-sm {{if .Article.Favorited}}btn-primary{{else}}btn-outline-primary{{end}}" type="submit"><i class="ion-heart"></i>&nbsp; {{if .Article.Favorited}}Unfavorite{{else}}Favorite{{end}} Article <span class="counter">({{.Article.FavoritesCount}})</span></button>
    </form>
  {{else}}
    <a class="btn btn-sm btn-outline-secondary" href="/login"><i class="ion-plus-round"></i>&nbsp; Follow {{.Article.Author.Username}}</a>
    <a class="btn btn-sm btn-outline-primary" href="/login"><i class="ion-heart"></i>&nbsp; Favorite Article <span class="counter">({{.Article.FavoritesCount}})</span></a>
  {{end}}
</div>
{{end}}
